body{
    background-color: #000000 ;
    font: 100%/1.5em Tahoma, "Lucida Grande", Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-align:center;
}
h1 {
	color: orange;
    text-align: center;
    padding :50px;
    font-size: 60px; 
}
h2 {
	color: orange;
    text-align: left;
    padding :10px; 
}
img{
    width: 200px;
    height: 200px;
}
table{
	align : centre ;
}
td, th {
	color : lime;
    width: 30px;
    padding: 5px;
}

/* id selector */
#wrapper{
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    background-color:#000000;
    border: solid 2px #fff;
}
/* header styling*/
#header{
    margin: 0;
    padding: 50px 0 0;
    background-color: black;
    height: 100px;
}
.footer{
	margin: 0;
    padding: 12px 15px 0 0;
    background-color: black;
    height: 30px;
    color: orange;
    text-align: right;
}
